@font-face {
  font-family: "ItalicFont";
  src: local("Times New Roman Italic");
  font-style: italic;
  unicode-range: U+0000-00FF, U+0100-017F; /* 拉丁字母范围 */
}

@font-face {
  font-family: "ItalicFont";
  src: local("楷体");
  font-style: italic;
  unicode-range: U+4E00-9FFF, U+3000-303F; /* 中文范围 */
}

* {
  font-variant-ligatures: discretionary-ligatures;
}

th,
strong,
b,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Calibri", "黑体";
  font-size: 9pt;
  line-height: 1;
  margin-block-end: 0;
}

th {
  text-align: center !important;
  border-bottom: 1px solid black;
}

th,
td {
  padding: 0.5em;
}

.large {
  column-span: all;
  margin-top: 0.2in;
  margin-bottom: 0.2in;
}

.hide {
  display: none;
}

.whole {
  break-inside: avoid;
}

.connect {
  break-before: avoid;
}

.new {
  break-before: always;
}

table {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  break-before: avoid;
}

em {
  font-family: "ItalicFont";
}

.arithmatex {
  break-before: avoid;
}

.arithmatex,
td,
li,
p {
  font-family: "Times New Roman", "宋体";
  font-size: 9pt;
  line-height: 1.5;
}

h1,
h1 .arithmatex {
  text-align: center;
  font-size: 18pt;
}

h2,
h2 .arithmatex {
  font-size: 16pt;
}

h3,
h3 .arithmatex {
  font-size: 12pt;
}

blockquote {
  border: 1px solid black;
  margin: 0;
  padding: 0 1em;
  border-radius: 1em;
}

hr {
  border: none;
  border-top: 1px solid black;
}

.image-wrapper {
  text-align: center;
  margin: 1em 0;
}

img {
  width: 40em;
  max-width: 80%;
}

p:has(> .image-wrapper > img) {
  break-before: avoid;
}

li::marker {
  font-family: Serif;
}

main {
  column-count: 2;
  width: 177mm;
  padding: 1mm;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  break-inside: avoid;
  break-after: avoid;
}

ul,
ol {
  padding-inline-start: 1em;
}

@media print {
  @page {
    size: A4;
    margin: 10mm;
    padding: 5mm;

    @bottom-center {
      content: "- " counter(page) " -";
      font-size: 12pt;
      font-family: "Times New Roman";
      padding-bottom: 8mm;
    }

    @top-left {
      content: var(--header);
      font-size: 9pt;
      font-family: "Times New Roman", "宋体";
      padding-left: 6mm;
      padding-top: 6mm;
      border-bottom: 1px solid black;
    }

    @top-right {
      content: "傅雨辰";
      font-size: 9pt;
      font-family: "Times New Roman", "宋体";
      padding-top: 6mm;
      padding-right: 6mm;
      border-bottom: 1px solid black;
    }
  }

  @page :first {
    margin: 5mm 10mm 10mm 10mm;

    @top-left {
      content: none;
    }

    @top-right {
      content: none;
    }
  }
}
